<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h4>本当に退会しますか？</h4>
      <p>退会すると、会員登録情報や</br>
      これまでの購入履歴が閲覧できなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。</p>

      <%= link_to "退会しない", public_customer_path(@customer.id), class:"btn btn-info btn-sm" %>
      <%= link_to "退会する", public_customer_hide_path(@customer.id), class:"btn btn-sm btn-danger" %>
    </div>
  </div>
</div>