// Place all the styles related to the public/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-presentation a:link{
  color: #000000;
}

#items-space{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-presentation{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.item-name{
  padding-left: 10px;
  padding-top: 10px;
}

.item-price-with-tax{
  padding-left: 10px;
}

#item-detail{
  margin-top: 10px;
}

#price-with-tax-in-profile{
 margin-top: 30px;
 margin-bottom: 30px;
}

#with-tax{
  font-size: 8pt;
}

#item-profile .btn-primary{
 margin-left: 50px;
}
