<table>
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
  <% addresses.each do |address| %>
  <tr>
    <td>address.postal_code</td>
    <td>address.address</td>
    <td>address.name</td>
    <td>
      <div class="address-edit">
        <%= link_to "編集", edit_address_path(address), class: "btn btn-sm btn-success edit_address_#{address.id}" %>
      </div>
      <div class="address-delete">
        <%= link_to "削除", address_path(address), method: :delete %>
      </div>
    </td>
  </tr>
  <% end %>
</table>