<h2>ジャンル編集</h2>
<%= form_with url: admin_genres_path,local:true do |f| %>
  <div class="form-group">
    <%= f.label :"ジャンル名" %>
    <%= f.text_area :detail %>
  </div>
  <div>
    <%= f.submit "変更保存" %>
  </div>
<% end %>