<%# TODO:20210120address：既存アドレス用インスタンス %>
 <!---->
<div class="container">
  <div class="row">
    <span id="page-name">配送先編集</span>
  </div>
  <div class="row">
    <%= render "partial/input", address: @address, button_text: "変更内容を保存" %>
  </div>
</div>