<!--TODO:20210119コントローラーの@address：新規配送先送信用-->
<!--TODO:20210119コントローラーの@addresses：配送先一覧用-->
<%# TODO:20210120幾つかのページに共通してみられるページ説明用要素の共通化の有無 %>
<!--TODO:20200119BootStrapのGrid-->

<!--<div class='container'>-->

<%# <div class='col-md-3'> %>
<span id="page-name">配送先登録 / 一覧</span>
<%# </div> %>
<!--<div class="row">-->
<%= render "partial/input", address: @address, submit_text: "新規登録" %>
<!--</div>-->
<%# <div class="row"> %>
<%= render "partial/index", addresses: @addresses %>
<%# </div> %>

<!--</div>-->