<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= render 'layouts/notifications' %>
<div><!-- 背景画像貼り付け -->
  <p>ようこそながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
  </p>
</div>

<div>
<h3>新着商品</h3>

<%= link_to "全ての商品を見る＞", public_items_path %>
</div>