/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#error_explanation {
  color: red;
}


.main-visual {
  background-image: image-url('macarons-5691710_1280');
  background-size: cover;
  width: 100%;
  height: 550px;
}

.main-visual-title {
  padding-top: 100px;
  font-family: cursive;
  font-style: italic, oblique;
}

.main-visual-text {
  font-family: serif;
}

.about-visual {
  background-image: image-url('cooking-1940689_1280');
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
}

.title-logo {
  font-family:'Fredoka One', sans-serif;
  text-transform:uppercase;
  color:seagreen;
}

.title-logo-2 {
  font-family:'Fredoka One', sans-serif;
  text-transform:uppercase;
  color:orange;
}

.about-text {
  font-family: serif;
}